.card-background-page{
  ion-card{
    position:relative;
    text-align: center;
    width: 100% !important;
    margin: 0px !important;
  }

  .card-title{
    position: absolute;
    top: 18%;
    font-size: 2.2em;
    font-weight: bolder;
    //color: #b51e25;
    color: #485962;
    width: 100%;
  }

  .card-subtitle{
    position: absolute;
    top:32.5%;
    font-size: 1em;
    width: 100%;
    color: #485962;
    //color:#fd8e26;
    font-weight: bold;
  }
}
