<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="card-background-page">
    <ion-card no-padding >
      <img src="./assets/imgs/menuCard.png">
      <div class="card-title">Eco Ionic</div>
      <div class="card-subtitle">AMERICAN WAY OF LIFE</div>
    </ion-card>
    <ion-list>
      <!--<button menuClose ion-item *ngFor="let category of categories">-->
        <!--{{category.name}}-->
      <!--</button>-->
      <ion-item *ngFor="let category of categories" text-wrap (click)="openCategoryPage(category)" menuClose>
        <ion-icon [name]="category.icon" item-left large></ion-icon>
        <h2>{{category.name}}</h2>
      </ion-item>

      <ion-item (click)="openPage('signUp')" menuClose>
        <ion-icon name="md-clipboard" item-left large></ion-icon>
        <h2>Sign Up</h2>
        <p>For a new account</p>
      </ion-item>
    </ion-list>
  </ion-content>


</ion-menu>

<ion-nav [root]="homePage" #content></ion-nav>
